{% load static %}
<html>
<head>
<title> Propomate </title>
<link rel="shortcut icon" href="{% static 'prop_icon.png' %}">
<link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>
<body>
<section class="flex items-center justify-center h-48 bg-white">
  <div class="container h-48">
    <div class="bg-white rounded-lg shadow-lg p-5 md:p-20 mx-2 h-24">
      <div class="text-center">
        <h1 class="text-4xl tracking-tight title-font leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
          Propo<span class="text-blue-500">mate</span>
        </h1>
        <h2 class='text-xl title-font md:text-3xl mt-10'>Coming Soon</h2>
        <h2 class="text-md md:text-xl mt-10"><a class="hover:underline" href="https://www.propomate.com"></a>Use Propomate's intelligent tools to take your business to the next level.</h2>
      </div>
</div>
</div>
</section>
</body>
</html>