{% extends 'base_landing.html' %}
{% load static %}

{% block content %}
<section class="text-gray-700 body-font w-screen bg-white-300">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col w-screen">
      <img class="lg:w-full mb-10 object-cover object-justify rounded w-full" alt="hero" src="{% static 'img/landing_header.jpg' %}">
      <div class="text-center lg:w-2/3">
             
        </p>
        {% if not request.user.is_authenticated %}
        <div class="flex justify-center">
          <a href="{% url 'login' %}" class="inline-flex text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg">
            Login to get started
          </a>
        </div>
        {% endif %}
      </div>
    </div>
</section>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-10 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h2 class="text-xs text-blue-500 tracking-widest font-medium title-font mb-1">Coming Soon</h2>
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Propomate</h1>
      </div>

            {% endblock content %}
